PORT=8000
MONGODB_URL=mongodb+srv://bhavnachandera3735:chanderabhavna123@bhawnaa.rj1vlyv.mongodb.net/
# mongodb+srv://bhavnachandera3735:chanderabhavna123@bhawnaa.rj1vlyv.mongodb.net/
ACCESS_TOKEN_SECRET=bjhfg
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=hgfgd
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dtp6ve6ql
CLOUDINARY_API_KEY=966748937435161
#CLOUDINARY_URL=cloudinary://966748937435161:bykJOqaXLSMuy2ljhy4e1nJZZN4@dtp6ve6ql
CLOUDINARY_API_SECRET=bykJOqaXLSMuy2ljhy4e1nJZZN4